*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}

ul, ol{
    list-style: none;
}

img{
    width: 100%;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.visually_hidden {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.label{
    position: relative;
    background-color: white;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    padding: 3px;
}

.toggler{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: all .5s;
}

.check:checked + .toggler{
    left: 15%;
    background-image: url("../img/Photo.jpg");
    background-position: center;
    background-size: contain;
    background-color: green;
    background-repeat: no-repeat;
    transform: translate(100%, -50%);
}